* {
    primary: #5b65a3;
    second: #7380d1;
    third: #8d9bf0;
    border: third;
    text-color: white;
}


.button {
    -fx-background-color : primary;
    -fx-text-fill : text-color;
    -fx-border-color: border;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color : second;
}

.button:pressed {
    -fx-background-color : third;
}