.root{
    -fx-background-color: grey;
}

.table-view{
   -fx-background-color: grey;
}

.table-view:focused{
    -fx-background-color: grey;
}

.table-view .column-header-background{
    -fx-background-color: #176ba3;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #979dc9;
    -fx-border-width: 1;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #6a75bd;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #4f5a9e;
}

.table-row-cell:selected {
    -fx-background-color: #10165F;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}