.button {
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
    -fx-border-color: white;
    -fx-border-radius: 1px;
}
.button:hover {
    -fx-background-color : #10165F;
}
.button:pressed {
    -fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.text-area {
 -fx-border-color: #597bb3;
 -fx-border-radius: 10px;
 -fx-border-width: 3px;
}

.text-area:focused .content {
    -fx-background-color:  white;
}

HBox {
	-fx-border-color: white;
	-fx-border-radius: 2px;
}

.slider .track {
    -fx-background-color: #10165F;
}

.slider .thumb {
     -fx-background-color: #96c1ff;
}