.text-area {
     -fx-focus-color: transparent;
     -fx-border-style: none;
}

.text-area .content {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: #10165F;
}

.slider .thumb {
     -fx-background-color: #96c1ff;
}